/* this is my stylesheet */


* {
  font-family:Arial, Helvetica, sans-serif; 
  
}


h1{
  font-family:
}

h2{
  font-family:
}


@media screen and (max-width 960px){
  #wrapper{
    width:94%;
  }
  
  article{
    width:65%;
  }
  
  article img {
    width: 30%;
    height:30%;
  }
  
  aside{
    width:28%;
  }
}

@media screen and (max-width:700px){
  
  article{
    width:auto;
    float:none;
  }
  aside{
    width:auto;
    float:none;
  }
}

@media screen and (max-width: 480px){
  
  header.page{
    height: auto;
    
  }
  
  h1{
    font-size:24px;
  }
  
  aside{
    display:none;
  }
  
}
  
  
  
